body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.bg-header {
	background-color: #154c88;
}

.progressbar-height {
	height: 5px !important;
}

.bg-stats {
	background-color: #20649b;
}

.widget-border-top {
	border-top: 4px solid #7dd343;
}

.table-title-border {
	border-right: 1px solid #ccc;
}

.title-1 {
	color: #154c88;
}

.title-2 {
	color: #7dd343;
}

tbody {
	display: block;
	height: 180px;
	overflow-y: scroll;
}

thead,
tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.sort-option {
	width: 130px;
	position: absolute;
	right: 60px;
	top: 10px;
	font-size: 15px;
	height: 36px;
	border: 1px solid #19579a;
}

.form-select {
	background: 0 0;
	border-width: 0;
	color: #fff;
	outline: 0;
}

option {
	font-weight: normal;
	display: block;
	white-space: pre;
	min-height: 1.2em;
	padding: 0px 2px 1px;
}

.widget {
	box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 25%);
	transition: all 0.3s;
}

a:hover {
	color: white !important;
	text-decoration: underline;
}

a {
	color: white !important;
	text-decoration: none;
	background-color: transparent;
}
